#header {
    background-image: none; /* Remove the background image */
    position: relative;
    text-align: center; /* Center the text */
    color: rgb(207, 229, 249); /* Text color */
    overflow: visible; /* Hide overflow */
}

body{
    background: #0D1117;
}

html {
    scroll-behavior: smooth; /* Smooth scrolling */
}


.header-image-container {
    position: relative;
}

.header-image {
    position: absolute; /* Maintain absolute positioning */
    top: 40px; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 250px; /* Full height to cover the section */
    object-fit: cover; /* Ensure the image covers the entire area */
    object-position:  50% 85%;;
    filter: blur(8px); /* Apply blur effect */
    z-index: 1; /* Ensure the image is behind the overlay */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    z-index: 2; /* Ensure overlay is above the image */
}

.header-content {
    position: relative;
    z-index: 3; /* Ensure content is above the overlay */
    padding: 100px; /* Add some padding */
}

.header-text {
    position: relative; /* Ensure the text is positioned correctly */
    z-index: 3; /* Ensure content is above the overlay */
    padding-top: 95px; /* Adjust this value to move it further down */
    text-align: center; /* Center align the text */
}

.breadcrumb {
    text-align: center; /* Center align the breadcrumb */
    margin-top: 10px; /* Add margin to separate from header text */
    z-index: 3; /* Ensure it is above the overlay */
    color: #308a8a
}

.breadcrumb a {
    color: #308a8a; /* Set the normal link color to grey */
    text-decoration: none;
}

.breadcrumb a:visited {
    color: #308a8a; /* Set the visited link color to grey */
}

.button-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
    margin-top: 20px; /* Margin at the top */
}

.btn {
    background-color: transparent; /* Transparent background */
    border: 2px solid #4cd9d9; /* Blue outline */
    color: #4cd9d9; /* Text color */
    padding: 10px 14px; /* Button padding */
    font-size: 15px; /* Button font size */
    font-weight: 400;
    cursor: pointer; /* Pointer cursor */
    border-radius: 4px; /* Rounded corners */
    display: flex; /* Flex for alignment */
    align-items: center; /* Center vertically */
    transition: background-color 0.3s, color 0.5s,transform 0.3s, transform 0.3s;
    
}

/* Change text color and background on mouse-over */
.btn:hover {
    background-color: #49cfcf; /* Background color on hover */
    color: #1D2330; /* Text color on hover */
    transform: translateY(-5px) scale(1.05);
}

/* Space between icon and text */
.btn i {
    margin-right: 8px; /* Margin to the right of the icon */
}

/* ---------------- python logo ---------------- */
.akar-icons--python-fill {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg fill='%23000' clip-path='url(%23akarIconsPythonFill0)'%3E%3Cpath d='M11.914 0C5.82 0 6.2 2.656 6.2 2.656l.007 2.752h5.814v.826H3.9S0 5.789 0 11.969s3.403 5.96 3.403 5.96h2.03v-2.867s-.109-3.42 3.35-3.42h5.766s3.24.052 3.24-3.148V3.202S18.28 0 11.913 0M8.708 1.85c.578 0 1.046.47 1.046 1.052c0 .581-.468 1.051-1.046 1.051s-1.046-.47-1.046-1.051c0-.582.467-1.052 1.046-1.052'/%3E%3Cpath d='M12.087 24c6.092 0 5.712-2.656 5.712-2.656l-.007-2.752h-5.814v-.826h8.123s3.9.445 3.9-5.735s-3.404-5.96-3.404-5.96h-2.03v2.867s.109 3.42-3.35 3.42H9.452s-3.24-.052-3.24 3.148v5.292S5.72 24 12.087 24m3.206-1.85c-.579 0-1.046-.47-1.046-1.052c0-.581.467-1.051 1.046-1.051c.578 0 1.046.47 1.046 1.051c0 .582-.468 1.052-1.046 1.052'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsPythonFill0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-right: 8px;
  }

#description {
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px; /* Padding around the container */
}

.info-container {
    width: 80%; /* Set container width to 80% of the screen */
}

.info-box {
    background-color: #1D2330; /* Background color of the box */
    border-left: 4px solid #4cd9d9; /* Left colored border */
    padding: 20px; /* Padding inside the box */
    border-radius: 5px; /* Slightly rounded corners */
    margin-bottom: 20px; /* Space below the info box */
    font-size: 16px;
    font-weight: 300;
}

.info{
    font-size: 16px;
    font-weight: 350;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    margin-bottom: 20px; /* Adjust margin as needed */
}

.info-text {
    width: 100%; /* Ensure it takes full width */
}

.tools {
    margin-top: 10px; /* Adjust spacing between sections */
    width: 100%; /* Ensure it takes full width */
}

.tools h2 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px; /* Space below the heading */
    color: #47CCCC
}

.tools li{
    margin-left: 40px;
}

/* ------------------------------ Credit Risk ---------------------------- */

/* -------------Scroll Bar Style---------------- */

#credit-risk::-webkit-scrollbar {
    width: 12px; 
}

#credit-risk::-webkit-scrollbar-track {
    background-color: #19202B; /* Set the color for the scrollbar track */
    /* border-radius: 3px; Optional: give it some rounded corners */
}

#credit-risk::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #324057); /* Scrollbar color */
    border-radius: 2px; /* Rounded corners */
}

#credit-risk::-webkit-scrollbar-thumb:hover {
    background-color: #3FB5B5; /* Hover color for scrollbar */
}

.footer-credit {
    background: #131921;
    border-top: 3px solid #202A38;
}

.footer-credit .footer-links a {
    color: #4A6082;
}

.divider-credit {
    background: #202A38;
}

.rr-credit {
    color: #445978;
}

.footer-credit span {
    color: #4A6082;
}

.footer-credit .github:hover {
    color: #47CCCC;
}



/* ---------------------------- Sales Dashboard ---------------------------- */

.sales-hd-text h1{
    color: rgb(229, 241, 239);
}
#sales-dashboard {
    background: #0d1812;
}
.sales-nav ul li a::after{
    background: linear-gradient(90deg,rgba(56, 237, 196, 1), rgba(56, 237, 196, 0.7));
}

.sales-img{
    object-position: 50% 50%;
}

.sales-breadcrumb {
    color: #218C74; /* Text color */
}

.sales-breadcrumb a {
    color: #218C74; /* Set the normal link color to grey */
    text-decoration: none;
}

.sales-breadcrumb a:visited {
    color: #218C74; /* Set the visited link color to grey */
}

.sales-btn{
    border: 2px solid #218C74;
    color: #34b095;
}

.sales-btn:hover {
    background-color: #34b095; /* Background color on hover */
    color: #0A130E; 
}

.sales-info-box {
    background-color: #1F2B25; /* Background color of the box */
    border-left: 4px solid #30caa8; /* Left colored border */
}

.sales-tools h2 {
    color: #4ad8b9;
}

/* -------------Scroll Bar Style---------------- */

#sales-dashboard::-webkit-scrollbar {
    width: 12px; 
}

#sales-dashboard::-webkit-scrollbar-track {
    background-color: #13241B; /* Set the color for the scrollbar track */
    /* border-radius: 3px; Optional: give it some rounded corners */
}

#sales-dashboard::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #234030); /* Scrollbar color */
    border-radius: 2px; /* Rounded corners */
}

#sales-dashboard::-webkit-scrollbar-thumb:hover {
    background-color: #218C74; /* Hover color for scrollbar */
}

/* ---- Footer----  */

.footer-sales {
    background: #122119;
    border-top: 3px solid #1C3326;
}

.footer-sales .footer-links a {
    color: #3A6B50;
}

.divider-sales {
    background: #1C3326;
}

.rr-sales {
    color: #3A6B50;
}

.footer-sales span {
    color: #3A6B50;
}

.footer-sales .github:hover {
    color: #4ad8b9;
}

/* ---------------------------- abnb Dashboard ---------------------------- */

#abnb-model {
    background: #1F0708;
}

.airbnb-hdr-text h1{
    color: rgb(251, 236, 236);
}

.airbnb-nav ul li a::after{
    background:linear-gradient(90deg, rgb(255, 58, 62), rgba(231, 76, 94, 0.7));
}

.abnb-img{
    filter: blur(6px);  
    object-position: 50% 40%;
}

.abnb-breadcrumb {
    color: #BD3E4D; /* Text color */
}

.abnb-breadcrumb a {
    color: #BD3E4D; /* Set the normal link color to grey */
    text-decoration: none;
}

.abnb-breadcrumb a:visited {
    color: #BD3E4D; /* Set the visited link color to grey */
}

.abnb-btn{
    border: 2px solid #b84a57;
    color: #E74C5E;
}

.abnb-btn:hover {
    background-color: #B03A48; /* Background color on hover */
    color: #140A03; 
}

.abnb-info-box {
    background-color: #2e1e23; /* Background color of the box */
    border-left: 4px solid #E74C5E; /* Left colored border */
}

.abnb-tools h2 {
    color: #b84a57;
}

/* -------------Scroll Bar Style---------------- */

#abnb-model::-webkit-scrollbar {
    width: 12px; 
}

#abnb-model::-webkit-scrollbar-track {
    background-color: #300B0D; /* Set the color for the scrollbar track */
    /* border-radius: 3px; Optional: give it some rounded corners */
}


#abnb-model::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #4A1113); /* Scrollbar color */
    border-radius: 2px; /* Rounded corners */
}

#abnb-model::-webkit-scrollbar-thumb:hover {
    background-color: #C94857; /* Hover color for scrollbar */
}

/* ---- Footer----  */

.footer-abnb {
    background: #2B0A0B;
    border-top: 3px solid #4A1113;
}

.footer-abnb .footer-links a {
    color: #8F2024;
}

.divider-abnb {
    background: #4A1113;
}

.rr-abnb {
    color: #8F2024;
}

.footer-abnb span {
    color: #8F2024;
}

.footer-abnb .github:hover {
    color: #E74C5E;
}

/* ---------------------------- Event Management ---------------------------- */

#evm {
    background: #0D0E1C;
}

.evm-hdr-text h1{
    color: #e5e6f3;
}

.evm-nav ul li a::after{
    background:linear-gradient(90deg, rgba(184, 195, 240, 1), rgba(184, 195, 240, 0.8));
}

.evm-img{
    filter: blur(8px);  
    object-position: 50% 40%;
}

.evm-breadcrumb {
    color: #9199BD; /* Text color */
}

.evm-breadcrumb a {
    color: #9199BD; /* Set the normal link color to grey */
    text-decoration: none;
}

.evm-breadcrumb a:visited {
    color: #9199BD; /* Set the visited link color to grey */
}

.evm-btn{
    border: 2px solid #B8C3F0;
    color: #B8C3F0;
}

.evm-btn:hover {
    background-color: #a6afd5; /* Background color on hover */
    color: #140A03; 
}

.evm-info-box {
    background-color: #1f2439; /* Background color of the box */
    border-left: 4px solid #B8C3F0; /* Left colored border */
}

.evm-tools h2 {
    color: #8da1f1;
}

/* ---- Footer----  */

.footer-evm {
    background: #111224;
    border-top: 3px solid #262952;
}

.footer-evm .footer-links a {
    color: #494E9E;
}

.divider-evm {
    background: #262952;
}

.rr-evm {
    color: #494E9E;
}

.footer-evm span {
    color: #494E9E;
}

.footer-evm .github:hover {
    color: #8198f1;
}

/* -------------Scroll Bar Style---------------- */

#evm::-webkit-scrollbar {
    width: 12px; 
}

#evm::-webkit-scrollbar-track {
    background-color: #161830; /* Set the color for the scrollbar track */
    /* border-radius: 3px; Optional: give it some rounded corners */
}

#evm::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, rgb(44, 47, 94)); /* Scrollbar color */
    border-radius: 2px; /* Rounded corners */
}

#evm::-webkit-scrollbar-thumb:hover {
    background-color: #8da1f1; /* Hover color for scrollbar */
}


/* ----------------------------- Housing Prediction ---------------------------- */ 

#housing {
    background: #191A1F;
}

.housing-hdr-text h1{
    color: #e1e3e9;
}

.housing-nav ul li a::after{
    background:linear-gradient(90deg, rgba(178, 199, 199,1), rgba(130, 147, 147, 0.8));
}

.housing-img{
    filter: blur(8px);  
    object-position: 50% 50%;
}

.housing-breadcrumb {
    color: #829393; /* Text color */
}

.housing-breadcrumb a {
    color: #829393; /* Set the normal link color to grey */
    text-decoration: none;
}

.housing-breadcrumb a:visited {
    color: #829393; /* Set the visited link color to grey */
}

.housing-btn{
    border: 2px solid #c8d3d8;
    color: #dde1e3;
}

.housing-btn:hover {
    background-color: #aab5b9; /* Background color on hover */
    color: #140A03; 
}

.housing-info-box {
    background-color: #2c353e; /* Background color of the box */
    border-left: 4px solid #c8d3d8; /* Left colored border */
}

.housing-tools h2 {
    color: #88A3A3;
}

/* ---- Footer----  */

.footer-housing {
    background: #1F2026;
    border-top: 3px solid #31333D;
}

.footer-housing .footer-links a {
    color: #63667A;
}

.divider-housing {
    background: #31333D;
}

.rr-housing {
    color: #63667A;
}

.footer-housing span {
    color: #63667A;
}

.footer-housing .github:hover {
    color: #ade6e6;
}

/* -------------Scroll Bar Style---------------- */

#housing::-webkit-scrollbar {
    width: 12px; 
}

#housing::-webkit-scrollbar-track {
    background-color: #272930; /* Set the color for the scrollbar track */
    /* border-radius: 3px; Optional: give it some rounded corners */
}

#housing::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #3A4652); /* Scrollbar color */
    border-radius: 2px; /* Rounded corners */
}

#housing::-webkit-scrollbar-thumb:hover {
    background-color: #829393; /* Hover color for scrollbar */
}


/* ----------------------------- Pay Gap Prediction ---------------------------- */

#pay-gap {
    background: #191D21;
}

.pay-gap-hdr-text h1{
    color: #fef9fe;
}

.pay-gap-nav ul li a::after{
    background:linear-gradient(90deg, rgba(215, 162, 184,1), rgba(123, 93, 106, 0.8));
}

.pay-gap-img{
    filter: blur(8px);  
    object-position: 50% 60%;
}

.pay-gap-breadcrumb {
    color: #AD8B9A; /* Text color */
}

.pay-gap-breadcrumb a {
    color: #AD8B9A; /* Set the normal link color to grey */
    text-decoration: none;
}

.pay-gap-breadcrumb a:visited {
    color: #AD8B9A; /* Set the visited link color to grey */
}

.pay-gap-btn{
    border: 2px solid #D9AEC0;
    color: #D9AEC0;
}

.pay-gap-btn:hover {
    background-color: #C49EAE; /* Background color on hover */
    color: #140A03; 
}

.pay-gap-info-box {
    background-color: #2f3437; /* Background color of the box */
    border-left: 4px solid #d7a2b8; /* Left colored border */
}

.pay-gap-tools h2 {
    color: #cc9baf;
}

/* ---- Footer----  */

.footer-pay-gap {
    background: #1D2226;
    border-top: 3px solid #303840;
}

.footer-pay-gap .footer-links a {
    color: #5D6E7D;
}

.divider-pay-gap {
    background: #303840;
}

.rr-pay-gap {
    color: #5D6E7D;
}

.footer-pay-gap span {
    color: #5D6E7D;
}

.footer-pay-gap .github:hover {
    color: #e9acc6;
}

/* <-!----------------------------- Scroll Bar Style ---------------------------- --> */
#pay-gap::-webkit-scrollbar {
    width: 12px; 
}

#pay-gap::-webkit-scrollbar-track {
    background-color: #272D33; /* Set the color for the scrollbar track */
    /* border-radius: 3px; Optional: give it some rounded corners */
}

#pay-gap::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #51595F); /* Scrollbar color */
    border-radius: 2px; /* Rounded corners */
}

#pay-gap::-webkit-scrollbar-thumb:hover {
    background-color: #cc9baf; /* Hover color for scrollbar */
}

