*{
   margin: 0;
   padding: 0;
   font-family: "Roboto Condensed", sans-serif;
   box-sizing: border-box; 
}

body{
    background: #101010;
    color: rgb(228, 236, 242); 
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/construction.png);
    /* background-size: contain; */
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 37%;
}

.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
}

.logo {
    max-width: 140px; /* Adjust as needed */
    height: auto;
    transform: scale(1.2); /* Increase size by 20% */
    transform-origin: left center; /* Adjust scaling origin if needed */
    margin-left: -20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, rgba(105, 244, 244, 0.9), rgba(105, 244, 244, 0.6));;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    
}

.header-text{
    font-size: 20px;
    margin-top: 20%;
}

.header-text h1{
    font-size: 40px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #4cd9d9;
}

/* -----------------about------------------- */
#about{
    padding : 80px 0;
    color: aliceblue;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    /* object-fit: cover; */
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 h1 span{
    color: #ff004f;
}

.title{
    font-size: 50px;
    font-weight: 450;
    color: aliceblue;
}

.about-col-2 span{
    color:#4cd9d9
}
.title-2{
    font-size: 30px;
    font-weight: 450;
    color: aliceblue;
    text-align: center;
    margin: 20px 0 10px; 
}

.sub_info{
    text-align: center;
}

/* .social-icons {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    text-align: center; 
}

.social-icons a {
    color: #4cd9d9;
    font-size: 45px;
    margin: 0 15px;
    position: relative;
    text-decoration: none; 
    display: inline-flex; 
    align-items: center; 
}

.social-icons a::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(105, 244, 244, 0.9), rgba(105, 244, 244, 0.6));
    position: absolute;
    left: 50%; 
    bottom: -6px; 
    border-radius: 4px;
    transition: width 0.5s, left 0.5s; 
}

.social-icons a:hover::after {
    width: 100%;
    left: 0; 
} */

.tab-titles{
    display: flex; ; 
    margin: 20px 0px 40px; 
}

.tab-links{
    margin-right: 70px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-bottom: -15px;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
    border-radius: 4px;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-links.active-link:hover::after{
    width: 100%;
}

.tab-contents .list-items li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

.tab-contents ul li span{
    color: #B52B5E;
    font-size: 14px;
}

.tab-contents h4 {
    margin-top: -10px;
    margin-bottom: -20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* -----------------experience------------------- */

#experience{
    padding: 30px 0;
    color: aliceblue;
}

.exp-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 40px;
    /* text-align: justify */
}

.exp-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    transition:transform 0.5s, background 0.5s;
}

 .exp-list div h2{
    font-size: 25px;
    font-weight: 500;
}


.exp-list div h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.exp-list div h4{
    font-weight: 500;
}

.exp-list div:hover{
    background: #308a8a;
    transform: translateY(-10px);
}


/* -----------------Experience Icons------------------- */
.ep--data-analysis {
    display: inline-block;
    width: 50px;
    height: 50px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='m665.216 768l110.848 192h-73.856L591.36 768H433.024L322.176 960H248.32l110.848-192H160a32 32 0 0 1-32-32V192H64a32 32 0 0 1 0-64h896a32 32 0 1 1 0 64h-64v544a32 32 0 0 1-32 32zM832 192H192v512h640zM352 448a32 32 0 0 1 32 32v64a32 32 0 0 1-64 0v-64a32 32 0 0 1 32-32m160-64a32 32 0 0 1 32 32v128a32 32 0 0 1-64 0V416a32 32 0 0 1 32-32m160-64a32 32 0 0 1 32 32v192a32 32 0 1 1-64 0V352a32 32 0 0 1 32-32'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-bottom: 25px;
  }

  .hugeicons--chart-line-data-02 {
    display: inline-block;
    width: 50px;
    height: 50px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23000'%3E%3Ccircle cx='8.5' cy='10.5' r='1.5'/%3E%3Ccircle cx='14.5' cy='15.5' r='1.5'/%3E%3Ccircle cx='18.5' cy='7.5' r='1.5'/%3E%3Cpath d='M15.434 14.296L18 9m-8.417 2.568l3.62 2.728M3 19l4.59-7.12M20 21H9c-3.3 0-4.95 0-5.975-1.025S2 17.3 2 14V3'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-bottom: 25px;
  }

  .mdi--teacher {
    display: inline-block;
    width: 50px;
    height: 50px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 17a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H9.46c.35.61.54 1.3.54 2h10v11h-9v2m4-10v2H9v13H7v-6H5v6H3v-8H1.5V9a2 2 0 0 1 2-2zM8 4a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-bottom: 25px;
  }
  /* -----------------Experience Icons End------------------- */

